{% load humanize %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Featured Products</h2>
  <div class="row">
    {% for product in products %}
    <div class="col-md-4">
      <div class="card">
        <img
          src="{{ product.image.url }}"
          class="card-img-top"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'product-detail' slug=product.slug %}"
            >{{ product.name }}</a
            >
          </h5>
          <p class="card-text">Price: Rs.{{ product.price|intcomma }}</p>
          <form class="like-btn" method="post" action="{% url 'like-product' %}" style="display: inline;">
            {% csrf_token %}
            <input type="hidden"
              name="product_slug"
              value="{{ product.slug }}">
            <button type="submit" style="border: none; background: none; color: inherit;">
                <i class="fas fa-thumbs-up"></i>
            </button>
          </form>
        
          <span class="likes-count">{{ product.likes }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>