body {
    background-color: #ab87f3;
}

.navbar {
    background-color: #fff;
}

.card {
    background-color: #fff;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.like-btn {
    color: #ff3366;
}

.btn-like:hover {
    color: #e6005c;
}

.likes-count {
    color: #ff3366;
    margin-left: 5px;
}

.navbar-nav .nav-item .nav-link {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link .icon {
    font-size: 20px;
    margin-right: 5px;
}

/* Hover Effect */
.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}
